@model Proj1.Models.Slab

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Slab</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConnectionTypeId" class="control-label"></label>
                <select asp-for="ConnectionTypeId" class ="form-control" asp-items="ViewBag.ConnectionTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FromUnit" class="control-label"></label>
                <input asp-for="FromUnit" class="form-control" />
                <span asp-validation-for="FromUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToUnit" class="control-label"></label>
                <input asp-for="ToUnit" class="form-control" />
                <span asp-validation-for="ToUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
